# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Node dependencies
node_modules/

# Lock / package
package-lock.json
yarn.lock

# WhatsApp auth/session (sensitif)
auth/*
.env
